<link rel="import" href="../../vcms-polymer/lib/mixins/vcms-app-element.html">
<link rel="import" href="./page-styles.html">

<dom-module id="main-page">
  <template>
    <style include=page-styles>
    </style>

    <dom-if if=[[!AppData.user.type]]>
      <template>
      <h1>Hi</h1>
      </template>
    </dom-if>
  </template>

  <script>
  class MainPage extends Vcms.AppElement {

    static get is() { return 'main-page' }


  }
  window.customElements.define(MainPage.is, MainPage);
  </script>
</dom-module>