<link rel="import" href="../vcms-polymer/lib/mixins/vcms-app-element.html">
<link rel="import" href="../vcms-polymer/lib/elements/app-toaster.html">

<link rel="import" href="./polymers.html">
<link rel="import" href="./layouts/application-header.html">
<link rel="import" href="./pages/pages.html">

<dom-module id="application-name">
  <template>
    <style>
      :host {
        @apply --layout-fit;
      }

      app-drawer {
        z-index: 1;
      }
      app-drawer a {
        display: block;
        padding: 10px;
        outline: none;
      }
      app-drawer a.iron-selected {
        background-color: #616161;
        color: #fff;
      }

      application-header a {
        color: #fff;
        text-decoration: none;
      }
      application-header a.iron-selected {
        text-decoration: underline;
      }

      @media (max-width: 425px) {
        application-header a {
          display: none;
        }
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
        route={{route}}
        pattern=/:page
        data={{routeData}}
        tail={{subroute}}></app-route>


    <app-drawer opened=[[AppData.drawerOpened]] onclick=this.opened=false>
      <iron-selector selected=[[page]] attr-for-selected=name>
        <dom-repeat items=[[pages]] as=page>
          <template>
            <a name=[[page.name]] href=[[page.href]]>[[page.name]]</a>
          </template>
        </dom-repeat>
      </iron-selector>
    </app-drawer>

    <app-toaster>
      <application-header>
        <iron-selector attr-for-selected=name selected=[[page]]>
          <dom-repeat items=[[pages]] as=page>
            <template>
            <a name=[[page.name]] href=[[page.href]]>[[page.name]]</a>
            </template>
          </dom-repeat>
        </iron-selector>
      </application-header>

      <iron-pages attr-for-selected=page selected=[[page]]>
        <main-page page=></main-page>
<!--         <p page=>
          <dom-if if=[[!AppData.user.type]]>
            <template>
            <p>You are anonymous</p>
            </template>
          </dom-if>
        </p>
        <p page=users>welcome [[AppData.user.name]]</p> -->
        <users-page page=users></users-page>
        <login-page page=login></login-page>
      </iron-pages>
    </app-toaster>
  </template>

  <script>
  class ApplicationName extends Vcms.AppElement {

    static get is() { return 'application-name'; }

    static get properties() { return {

      pages: {
        type: Array,
        value: _ => { return [{
          name: 'home',
          href: '/',
        },{
          name: 'users',
          href: '/users'
        },{
          name: 'login',
          href: '/login'
        }]}
      }
    }}

    ready() {
      super.ready();
      Polymer.RenderStatus.afterNextRender(this, _ => {
        if (window.inject_data) {
          window.inject_data();
        }
      });
    }

    static get observers() { return [
      '_routePageChanged(routeData.page)'
    ]}

    _routePageChanged(page) {
      this.page = page;
    }
  }

  window.customElements.define(ApplicationName.is, ApplicationName);
  </script>
</dom-module>