# Rewriting
RewriteEngine On

# keep these files from being redirected
<Files ~ '(favicon.ico|index.php)'>
   RewriteEngine Off
</Files>


RewriteCond %{REQUEST_URI} !^/(bower_components|components)
RewriteCond %{REQUEST_URI} !^/(img)
RewriteRule ^(.*)$ /index.php [L,QSA]

